name: Streamlit RAG App CI/CD

on:
  push:
    branches: [ "main" ]
  #pull_request:
  #  branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

concurrency:
  group: deploy-main
  cancel-in-progress: true

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  # ====================================
  #  Security & Lint Scan Job
  # ====================================
  security-scan:
    name: Security Scan (Sonar + pip audit)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref || github.ref }}
          fetch-depth: 0  # important for Gitleaks

      - name: Set up Python environment
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 flake8-sarif pytest 
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Scan dependencies with pip audit
        uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          inputs: |
            requirements.txt

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest -v

      - name: Sonar scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=sonar
            -Dsonar.sources=.

      - name: Gitleaks Security Scan
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload results (only if secrets found)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: results.sarif

  # ====================================
  #  Build Job
  # ====================================
  build-and-push:
      runs-on: ubuntu-latest
      needs: security-scan
      steps:
        - name: Checkout code
          uses: actions/checkout@v5

        - name: Log in to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Build and push
          uses: docker/build-push-action@v6
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}:${{ env.IMAGE_TAG }}

  trivy_image_scan:
    runs-on: ubuntu-latest
    needs:    
      - build-and-push
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run Trivy image scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: image
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}:${{ env.IMAGE_TAG }}
          format: table
          exit-code: '0'                 # set to '1' to fail on vulns
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

  deploy:
    name: Deploy Streamlit App
    runs-on: ubuntu-latest
    needs: trivy_image_scan  # run only after scan

    env:
      COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
      PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
      VLLM_API_URL: ${{ secrets.VLLM_API_URL }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Copy script to GCP VM
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USER }}
          key: ${{ secrets.GCP_SSH_KEY }}
          source: "script.sh"
          target: "~/"
      
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.GCP_HOST }}
          username: ${{ secrets.GCP_USER }}
          key: ${{ secrets.GCP_SSH_KEY }}
          envs: COHERE_API_KEY,PINECONE_API_KEY,VLLM_API_URL
          script: |
            chmod +x ~/script.sh
            bash ~/script.sh
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}:${{ env.IMAGE_TAG }}
            docker run -d \
            --name rag-chatbot \
            -p 8501:8501 \
            -e COHERE_API_KEY \
            -e PINECONE_API_KEY \
            -e VLLM_API_URL \
            --restart unless-stopped \
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}:${{ env.IMAGE_TAG }}

    